
*, *::before, *::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html, body{
    height: 100%;
}
.footer{
    margin-top: auto;
}
body{
    background-image: url(../foto/BG-1.jpg);
    background-size: contain;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

/* рабочая область страницы */
.page{
    width: 1000px;
    height: 2050px;
    margin: 0 auto;
    position: relative;
}
.page-line{
    display: flex;
    margin: 0 auto;
    height: 100%;
    justify-content: space-between;
}
.line-1{
    background-color: black;
    width: 100px;
    height: 100%;
    z-index: 1;
    margin-left: 30px;
    background: -webkit-linear-gradient(180deg, rgb(4, 4, 4) 20%, rgba(15, 15, 15, 0.163) 60%, rgb(3, 3, 3) 84%);   
    background: -moz-linear-gradient(180deg, rgb(4, 4, 4) 20%, rgba(15, 15, 15, 0.163) 60%, rgb(3, 3, 3) 84%);
    background: linear-gradient(180deg, rgb(4, 4, 4) 20%, rgba(15, 15, 15, 0.163) 60%, rgb(3, 3, 3) 84%);
    box-shadow: 1px 1px 50px rgba(255, 255, 255, 0.26);
}
.line-2{
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 100%;
    margin-right: 80px;
    z-index: -1;
    background: -webkit-linear-gradient(180deg, rgba(249, 252, 251, 0.2) 10%,  rgba(252, 255, 255, 0.03) 58%);
    background: -moz-linear-gradient(180deg, rgb(249, 252, 251, 0.2) 10%, rgb(252, 255, 255, 0.03) 58%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.231) 10%, rgba(252, 255, 255, 0.061) 58%);
}

/* шапка */
.header__wrap{
    display: flex;
    position: absolute;
    top: 30px;
    width: 1000px;
}
.logo img{
    width: 150px;
    position: absolute;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.26);
    z-index: 1;
}
.line-3{
    width: 100%;
    height: 5px;
    position: absolute;
    top: 75px;
    left: 50px;
    background: -webkit-linear-gradient(90deg, rgba(250, 6, 6, 0.5), rgb(249, 0, 0), rgb(300, 0, 0), rgba(253, 3, 3, 0.02));
    background: -moz-linear-gradient(90deg, rgba(250, 6, 6, 0.5), rgb(249, 0, 0), rgb(300, 0, 0), rgba(253, 3, 3, 0.02));
    background: linear-gradient(90deg, rgba(250, 6, 6, 9), rgb(249, 0, 0), rgb(300, 0, 0), rgba(253, 3, 3, 0.02));
}
.name{
    position: absolute;
    right: 35px;
    top: -30px;
}
h1{
    color: #fec902;
    font-size: 100px;
    text-shadow: 5px 5px 5px #000;
    font-weight: 900;
    text-align: end;
}
.lemmy{
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 18px;
    margin-top: 10px;
    color: rgb(223, 221, 221);
    text-shadow: 1px 1px 1px #000;
    margin-right: -30px;
}
.kilmister{
    text-align: end;
}

/* фото блок под шапкой */
.foto-block{
    display: flex;
    top: 200px;
    position: absolute;
}
.empty{
    width: 310px;
}
.block{
    display: flex;
    box-shadow: inset  0 0 70px 40px rgb(11 43 172 / 43%);
}
.block img{
    width: 100%;
    z-index: -1;
    position: relative;
}

/* основная часть */
.main__groop{
    display: flex;
    position: absolute;
    top: 480px;
    width: 100%;
    justify-content: space-between;
}
.main__partners{
    width: 150px;
    z-index: 1;
    margin-left: 70px;
}
.main__partners img{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 0 0.5px rgb(173, 173, 173);
    margin-bottom: 20px;
}
.main__partners img:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 10px 5px rgb(182, 181, 181);
    cursor: pointer;
}
.main__music{
    width: 600px;
}
.audio, .video{
    width: 100%;
}
h3{
    color: rgb(192, 0, 0);
    font-size: 22px;
    text-shadow: 1px 1px 2px #000;
    margin: 0 0 10px 20px;
}
.track{
    padding-bottom: 20px;
}
.play-video{
    margin-top: 30px;
}
.play-video section{
    box-shadow: 0 0 25px 1px rgba(109, 108, 108, 0.527);
}


/* музыкальные приложения */
.radio{
    position: absolute;
    top: 1950px;
    width: 100%;
}
.radio__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mail{
    width: 160px;
    z-index: 1;
    margin-left: 50px;
}
.mail a{
    text-decoration: none;
    font-size: 25px;
    color: #fec902;
    text-shadow: 5px 5px 5px #000;
}
.mail a:hover{
    cursor: pointer;
    color: rgb(66, 255, 3);
    text-decoration: underline;
}
.link img{
    width: 30px;
    margin: -8px 10px;
}
.blockRadio{
    position: absolute;
    right: 0;
    display: flex;
    width: 530px;
    background-color: #000;
    border-radius: 7px;
    z-index: 2;
    box-shadow: 0 0 25px 1px rgba(109, 108, 108, 0.527);
}
.radio_box img{
    width: 50px;
    margin: 10px 8px;
    border-radius: 3px;
}
.radio_box img:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 10px 3px rgb(182, 181, 181);
}
.redLine2{
    position: relative;
    z-index: 1;
    margin-top: 5px;
    width: 100%;
    height: 25px;
    margin-bottom: 30px;
    border-radius: 0 0 5px 0;
    background: -webkit-linear-gradient(90deg, rgba(250, 6, 6, 0.03), rgb(249, 0, 0), 
    rgb(300, 0, 0));
    background: -moz-linear-gradient(90deg, rgba(250, 6, 6, 0.03), rgb(249, 0, 0), 
    rgb(300, 0, 0));
    background: linear-gradient(90deg, rgba(250, 6, 6, 0.03), rgb(249, 0, 0), 
    rgb(300, 0, 0));
}

/* слайдер */

.slideshow {
    width: 100%;
    height: 850px;
    position: relative;
    overflow: hidden;
    background: #000;
    z-index: 1;
    box-shadow: 0 0 25px 3px rgba(109, 108, 108, 0.527);
    border-radius: 10px;
}
.slideshow-item {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    animation: slideanim 110s infinite;
    pointer-events: none;
}
.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
    animation-delay: 0;
}
.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img {
    animation-delay: 5s;
}
.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img {
    animation-delay: 10s;
}
.slideshow-item:nth-child(4),
.slideshow-item:nth-child(4) img {
    animation-delay: 15s;
}
.slideshow-item:nth-child(5),
.slideshow-item:nth-child(5) img {
    animation-delay: 20s;
}
.slideshow-item:nth-child(6),
.slideshow-item:nth-child(6) img {
    animation-delay: 25s;
}
.slideshow-item:nth-child(7),
.slideshow-item:nth-child(7) img {
    animation-delay: 30s;
}
.slideshow-item:nth-child(8),
.slideshow-item:nth-child(8) img {
    animation-delay: 35s;
}
.slideshow-item:nth-child(9),
.slideshow-item:nth-child(9) img {
    animation-delay: 40s;
}
.slideshow-item:nth-child(10),
.slideshow-item:nth-child(10) img {
    animation-delay: 45s;
}
.slideshow-item:nth-child(11),
.slideshow-item:nth-child(11) img {
    animation-delay: 50s;
}
.slideshow-item:nth-child(12),
.slideshow-item:nth-child(12) img {
    animation-delay: 55s;
}
.slideshow-item:nth-child(13),
.slideshow-item:nth-child(13) img {
    animation-delay: 60s;
}
.slideshow-item:nth-child(14),
.slideshow-item:nth-child(14) img {
    animation-delay: 65s;
}
.slideshow-item:nth-child(15),
.slideshow-item:nth-child(15) img {
    animation-delay: 70s;
}
.slideshow-item:nth-child(16),
.slideshow-item:nth-child(16) img {
    animation-delay: 75s;
}
.slideshow-item:nth-child(17),
.slideshow-item:nth-child(17) img {
    animation-delay: 80s;
}
.slideshow-item:nth-child(18),
.slideshow-item:nth-child(18) img {
    animation-delay: 85s;
}
.slideshow-item:nth-child(19),
.slideshow-item:nth-child(19) img {
    animation-delay: 90s;
}
.slideshow-item:nth-child(20),
.slideshow-item:nth-child(20) img {
    animation-delay: 95s;
}
.slideshow-item:nth-child(21),
.slideshow-item:nth-child(21) img {
    animation-delay: 100s;
}
.slideshow-item:nth-child(22),
.slideshow-item:nth-child(22) img {
    animation-delay: 105s;
}

.slideshow-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 110s infinite;
}

@keyframes slideanim {
    2.27%{
        opacity: 1;
        pointer-events: auto;
    }
    4.54%{
        opacity: 1;
        pointer-events: auto;
    }    
    6.81%{
        opacity: 0;
    }
}
@keyframes zoom {
    9.09%{
        transform: scale(1.1);
    }    
}

/* подвал */
.footer{
    padding: 25px 0 50px 0;
    color: #5f89af;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    
}
.footer a{
    color: #5f89af;
}


/* адаптaция */
@media screen and (max-width: 1200px){
    .page, .header__wrap{
        width: 750px;
    }
    .page{
        height: 1790px;
    }
    .line-1{
        width: 95px;
    }
    .line-2{
        width: 310px;
        margin-right: 75px;
    }
    .line-3{
        top: 65px;
    }
    .logo img{
        width: 140px;
    }
    h1{
        font-size: 90px;
    }
    .lemmy{
        font-size: 14px;
        margin-top: 13px;
    }
    .foto-block{
        top: 190px;
    }
    .empty{
        width: 390px;
    }
    .main__groop{
        top: 410px;
    }
    .main__partners{
        width: 130px;
    }
    .main__music{
        width: 500px;
    }
    h3{
        font-size: 20px;
    }
    .radio{
        top: 1700px;
    }
    .mail{
        width: 150px;
        margin-left: 50px;
    }
    .mail a{
        font-size: 20px;
    }
    .blockRadio{
        width: 450px;
    }
    .radio_box img{
        width: 40px;
    }
    .redLine2{
        height: 23px;
    }
    .slideshow {
        height: 650px;
    }
}

@media screen and (max-width: 880px){
    .page, .header__wrap{
        width: 650px;
    }
    .page{
        height: 1530px;
    }
    .line-1{
        width: 80px;
    }
    .line-2{
        width: 260px;
        margin-right: 68px;
    }
    .line-3{
        top: 58px;
    }
    .logo img{
        width: 125px;
    }
    .name{
        top: -20px;
    }
    h1{
        font-size: 75px;
    }
    .lemmy{
        font-size: 12px;
        margin-top: 8px;
    }
    .block{
        box-shadow: inset  0 0 50px 30px rgb(11 43 172 / 43%);
    }
    .foto-block{
        top: 170px;
    }
    .empty{
        width: 430px;
    }
    .main__groop{
        top: 350px;
    }
    .main__partners{
        width: 110px;
        margin-left: 60px;
    }
    .main__music{
        width: 400px;
    }
    h3{
        font-size: 18px;
    }
    .radio{
        top: 1450px;
    }
    .blockRadio{
        width: 420px;
    }
    .radio_box img{
        width: 37px;
    }
    .redLine2{
        height: 20px;
    }
    .slideshow {
        height: 550px;
    }
}
@media screen and (max-width: 768px){
    .page, .header__wrap{
        width: 550px;
    }
    .page{
        height: 1370px;
    }
    .line-1{
        width: 70px;
        margin-left: 25px;
    }
    .line-2{
        width: 225px;
        margin-right: 63px;
    }
    .line-3{
        top: 55px;
    }
    .logo img{
        width: 115px;
    }
    .name{
        top: -15px;
    }
    h1{
        font-size: 65px;
    }
    .lemmy{
        font-size: 10px;
        margin-top: 10px;
    }
    .block{
        box-shadow: inset  0 0 30px 20px rgb(11 43 172 / 43%);
    }
    .foto-block{
        top: 160px;
    }
    .empty{
        width: 440px;
    }
    .main__groop{
        top: 310px;
    }
    .main__partners{
        width: 90px;
        margin-left: 50px;
    }
    .main__music{
        width: 350px;
    }
    h3{
        font-size: 16px;
    }
    .radio{
        top: 1300px;
    }
    .mail{
        width: 50px;
        margin-left: 27px;
    }
    .mail a{
        font-size: 16px;
    }
    .link img{
        width: 20px;
        margin: -5px 23px;
    }
    .blockRadio{
        width: 410px;
    }
    .radio_box img{
        width: 35px;
    }
    .redLine2{
        margin-top: -5px;
    }
    .slideshow {
        height: 450px;
    }
}

@media screen and (max-width: 680px){
    .page, .header__wrap{
        width: 500px;
    }
    .page{
        height: 1300px;
    }
    .line-1{
        width: 60px;
        margin-left: 20px;
    }
    .line-2{
        width: 190px;
        margin-right: 58px;
    }
    .line-3{
        top: 45px;
    }
    .logo img{
        width: 95px;
    }
    .name{
        top: -15px;
    }
    h1{
        font-size: 55px;
    }
    .lemmy{
        font-size: 9px;
    }
    .foto-block{
        top: 140px;
    }
    .empty{
        width: 400px;
    }
    .main__groop{
        top: 280px;
    }
    .main__partners{
        width: 80px;
        margin-left: 40px;
    }
    .main__music{
        width: 330px;
    }
    h3{
        font-size: 14px;
    }
    .radio{
        top: 1230px;
    }
    .mail{
        width: 30px;
        margin-left: 21px;
    }
    .mail a{
        font-size: 14px;
    }
    .link img{
        width: 20px;
        margin: -5px 20px;
    }
    .blockRadio{
        width: 400px;
    }
    .radio_box img{
        width: 35px;
    }
    .redLine2{
        margin-top: -5px;
    }
    .slideshow {
        height: 380px;
    }
}

@media screen and (max-width: 620px){
    .page, .header__wrap{
        width: 470px;
    }
    .page{
        height: 1210px;
    }
    .line-1{
        width: 55px;
        margin-left: 18px;
    }
    .line-2{
        width: 173px;
        margin-right: 57px;
    }
    .line-3{
        top: 40px;
    }
    .logo img{
        width: 85px;
    }
    .name{
        top: -15px;
    }
    h1{
        font-size: 50px;
    }
    .foto-block{
        top: 125px;
    }
    .empty{
        width: 385px;
    }
    .main__groop{
        top: 255px;
    }
    .main__partners{
        width: 70px;
        margin-left: 40px;
    }
    .main__music{
        width: 300px;
    }
    h3{
        font-size: 12px;
    }
    .radio{
        top: 1140px;
    }
    .mail{
        width: 30px;
        margin-left: 18px;
    }
    .mail a{
        font-size: 13px;
    }
    .link img{
        width: 20px;
        margin: -5px 18px;
    }
    .blockRadio{
        width: 370px;
    }
    .radio_box img{
        width: 30px;
    }
    .redLine2{
        margin-top: -7px;
    }
    .footer{
        font-size: 14px;
        padding: 20px 0 30px 0;
    }
}

@media screen and (max-width: 560px){
    .page, .header__wrap{
        width: 450px;
    }
    .foto-block{
        top: 125px;
    }
    .empty{
        width: 400px;
    }
    .footer{
        font-size: 12px;
    }
}

@media screen and (max-width: 480px){
    .page, .header__wrap{
        width: 350px;
    }
    .header__wrap{
        top: 10px;
    }
    .page{
        height: 1075px;
    }
    .line-1{
        width: 45px;
        margin-left: 10px;
        z-index: -2;
    }
    .line-2{
        width: 155px;
        margin-right: 35px;
    }
    .line-3{
        top: 55px;
    }
    .logo img{
        width: 65px;
    }
    .name{
        top: 5px;
        margin-right: -20px;
    }
    h1{
        font-size: 45px;
    }
    .lemmy{
        font-size: 9px;
        padding-top: 7px;
    }
    .foto-block{
        top: 122px;
    }
    .empty{
        width: 368px;
    }
    .main__groop{
        top: 230px;
    }
    .main__partners{
        margin-left: 0;
    }
    .main__music{
        width: 250px;
    }
    h3{
        font-size: 10px;
    }
    .radio__block{
        flex-direction: column;
    }
    .radio{
        top: 1015px;
    }
    .mail{
        width: 30px;
        margin-left: -310px;
        margin-top: -70px;
    }
    .mail a{
        font-size: 13px;
    }
    .link img{
        width: 20px;
        margin: -5px 18px;
    }
    .blockRadio{
        width: 350px;
    }
    .radio_box img{
        width: 28px;
    }
    .redLine2{
        margin-top: -5px;
        border-radius: 0 5px 0 0;
    }
    .slideshow {
        height: 270px;
    }
    .footer{
        font-size: 10px;
    }
}

@media screen and (max-width: 380px){
    .page, .header__wrap{
        width: 330px;
    }
    .page{
        height: 1035px;
    }
    .line-1{
        width: 40px;
        margin-left: 10px;
        z-index: -2;
    }
    .line-2{
        width: 138px;
        margin-right: 33px;
    }
    .line-3{
        top: 45px;
    }
    .logo img{
        width: 58px;
    }
    .name{
        top: 0;
    }
    h1{
        font-size: 40px;
    }
    .lemmy{
        padding-top: 9px;
    }
    .empty{
        width: 350px;
    }
    .main__partners{
        width: 65px;
    }
    .main__music{
        width: 230px;
    }
    .radio{
        top: 975px;
    }
    .mail{
        margin-left: -295px;
    }
    .blockRadio{
        width: 330px;
    }
    .radio_box img{
        width: 26px;
    }
}
